*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: scroll;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}
::-webkit-scrollbar-thumb {
    background-color: #6F91D1; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
}
nav{
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.10);
    position: fixed;
    font-size: 1.2rem;
    top: 0;
    width: 100%;
    z-index: 20;
}
.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background: linear-gradient(312deg, #6F91D1 0%, #F7AAAA 81.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
nav ul li{
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: #6F91D1;
}
nav .menu{
    display: none;
    position: absolute;
}
i.mobile-menu{
    display: none;
    cursor: pointer;
    font-size: 2rem;
}
.mobile-nav{
    display: none;
    left: 0;
}
.mobile-nav-toggle-container {
    display: none;
}
.mobile-nav.closed-menu{
    /* display: none; */
    left: -100%!important;
}
/* .mobile-nav.opened-menu {
    transform: translateX(0);
} */


.mobile-nav ul a{
    color: #000;
    font-weight: 500;
    text-decoration: none;
}
.hero{
    display: flex;
    flex-direction: column;
    height: 125vh;
    position: relative;
    width: 100%;
}
.container{
    margin: 0 6rem;
    padding: 0 3rem;
    max-width: 108rem;
}
.content{
    align-items: center;
    display: flex;
    height: 45rem;
    justify-content: center;
    position: relative;
}
.hero-main{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 75px;
    position: relative;
}
.hero-text{
    max-width: 35rem;
    position: relative;
}
.hero-text h1{
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.5rem;
}
p{
    font-size: 26px;
    margin-bottom: 0.5rem;
    font-family: 'Mulish', sans-serif;
}
.resume{
    margin: 1.5rem 0;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.20);
    font-family: 'Poppins', sans-serif;
    background-color: #BEE1E5;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.resume:active{
    /* transform: translateY(3px); */
    box-shadow: none;
}
.resume:hover{
    background-color: #6F91D1;
}
.resume2{
    background: none;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 1.5rem 0;
    cursor: pointer;
}
/* .resume2:active{
    transform: translateY(3px);
    box-shadow: none;
} */
.circle-container {
    position: relative;
    top: -7px; 
    left: 5px; 
}
.circle{
    border-radius: 50%;
    border: 2px solid black;
    width: 320px;
    height: 320px;
    position: absolute;
    top: 5px;
    left: -7px;
    z-index: 1;
    /* animation: morph 8s ease-in-out infinite; */
}
.hero-img{
    background-image: url(img/profile.jpg);
    background-size: cover;
    height: 320px;
    position: relative;
    width: 320px;
    border-radius: 50%;
    background-position: 50%;
    z-index: 0;
    animation: morph 8s ease-in-out infinite;
    /* border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; */
}
@keyframes morph{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.skills{
    align-items: center;
    bottom: 0;
    display: flex;
    font-size: 27px;
    left: 0;
    transform: translateY(9rem);
    position: absolute;
}
.skills p{
    border-right: 2px solid black;
    font-family: 'Mulish', 'sans-serif';
    font-weight: 600;
    margin-right: 2.5rem;
    padding-right: 2rem;
}
.logos{
    display: flex;
    gap: 25px;
}
.logos ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.logos li{
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25));
    /* cursor: pointer; */
    display: flex;
    height: 70px;
    width: 70px;
    justify-content: center;
}
.skills img{
    height: 34px;
    width: 34px;
}
.about {
    background-color: #222222;
    padding: 125px 0;
}
#particles-js{
    width: 100%;
    height: 80%;
    z-index: -1;
    /* position: absolute; */
}
.about-content{
    display: flex;
    gap: 9rem;
    /* align-items: center; */
    justify-content: center;
}
.image-side img{
    position: relative;
    height: 360px;
    width: 360px;
    background-size: cover;
}
/* .text-side{
    padding-right: 1.5rem;
} */
.text-side h3{
    color: #6F91D1;
    font-size: 30px;
    margin-bottom: 1rem;
    font-family: 'Poppins', 'sans-serif';
}
.text-side p{
    font-family: 'Mulish', 'sans-serif';
    font-size: 20px;
    line-height: 1.5;
    color: white;
    text-align: justify;
}
.project{
    padding-top: 5rem;
}
.project-content{
    display: flex;
    flex-direction: column;
}
.project-content h1{
    font-size: 50px;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.button-filters{
    justify-content: center;
    margin-bottom: 100px;
    display: flex;
    gap: 10px
}
button.active{
    background: #6F91D1;
    color: white;
    border: 1px solid #6F91D1;
    border-radius: 4px;
    font-size: 1rem;
    padding: 7px 18px;
    cursor: pointer;
}
button.inactive{
    background: #fff;
    color: black;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 1rem;
    padding: 7px 18px;
    cursor: pointer;
}
button.inactive:hover{
    border: 1px solid #6F91D1;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery .images{
    padding: 10px;
    /* margin: 10px; */
    width: calc(100%/3);
    position: relative;
}


.gallery .images.hide{
    display: none;
}
.gallery .images.show{
    display: block;
}
.gallery .images span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery .images img{
    width: 100%;
    vertical-align: middle;
    border-radius: 25px;
}

@media(max-width: 1000px){
    .gallery .images{
        width: calc(100% / 2);
    }
}
@media(max-width: 800px){
    .button-filters{
        flex-wrap: wrap;
        justify-content: center;
    }
    /* .gallery .images{
        width: 100%;
    } */
}
@media(max-width: 600px){
    .gallery .images{
        width: 100%;
        margin: 0 2rem;
    }
}

/* Existing styles for .gallery and .images */

.overlay {
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0px;
    right: 0;
    /* height: 93.8%;
    width: 93.8%; */
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(to bottom right, rgba(227, 13, 13, 1), lightsalmon);
    justify-content: center;
    align-items: flex-end;
    border-radius: 25px;
    margin: 10px;
    padding: 0px;
}

.images:hover .overlay {
    opacity: 1;
}

.overlay2 {
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0px;
    right: 0;
    /* height: 93.8%;
    width: 93.8%; */
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(to bottom right, rgba(56, 189, 248, 1), lightblue);
    justify-content: center;
    align-items: flex-end;
    border-radius: 25px;
    margin: 10px;
    padding: 0px;
}

.images:hover .overlay2 {
    opacity: 1;
}

.overlay3 {
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0px;
    right: 0;
    /* height: 93.8%;
    width: 93.8%; */
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(to bottom right, plum, rgba(97, 218, 251, 1));
    justify-content: center;
    align-items: flex-end;
    border-radius: 25px;
    margin: 10px;
    padding: 0px;
}

.images:hover .overlay3 {
    opacity: 1;
}


.icon-box{
    position: absolute;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    transform: translateY(-3rem);
    align-items: center;
}
.icon-box a{
    width: 50px;
    height: 50px;
    padding: 8px;
    display: block;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.8);
    color: #222222;
}
.icon-box a:hover{
    background: #fff;
}
.category {
    /* align-items: center; */
    font-size: 1.5rem;
    color: white;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
    text-align: center;
    transform: translateY(10.5rem);
}
.title{
    font-family: 'Poppins', 'sans-serif';
    color: white;
    font-weight: 400;
    text-align: center;
    transform: translateY(11rem);
    margin: 0 10px;
    padding: 0 15px;
    font-size: 1rem;
}
.contact{
    padding-top: 5rem;
}
.contact-content h1{
    font-size: 50px;
    margin-bottom: 1rem;
    font-family: 'Poppins', 'sans-serif';
    text-align: left;
    font-weight: 600;
}
.row{
    display: flex;
    justify-content: space-between;
}
form{
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 455px; */
    /* margin-right: 13rem; */
    border-radius: 4px;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-grow: 1;
}
form input, form textarea{
    flex-grow: 1;
    border: 1px solid #CED4DA;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'poppins', 'sans-serif';
}
form textarea{
    width: 100%;
}
form button{
    padding: 10px 15px;
    background: #6F91D1;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin: 15px 0;
    align-self: flex-start;
    width: 100%;
    font-family: 'poppins', 'sans-serif';
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.20);
}
form button:hover{
    background: #607eb6;
}
form button:active{
    transform: translateY(3px);
    box-shadow: none;
}
.right-side{
    padding-left: 4rem;
}
.cloud {
    position: inherit;
    top: 50px;
    width: 320px;
    height: 100px;
    background: #222222;
    border-radius: 100px;
    z-index: 100;
    filter: drop-shadow(0 0 15px #222222);
}
.cloud::before{
  content: '';
  position: absolute;
  top: -50px;
  left: 40px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #222222;
  box-shadow: 90px 0 0 30px #222222;
}
.text{
    position: absolute;
    top: 40px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
    text-shadow: 0 0 5px #000;
    /* 0 0 15px #000; */
    /* 0 0 30px #000; */
    transform-origin: bottom;
    animation: animate 2s linear forwards;
  }

@keyframes animate{
    0%{
        transform: translateY(0) scale(1);
    }
    70%{
        transform: translateY(290px) scale(1);
    }
    100%{
        transform: translateY(290px) scale(0);
    }
}

footer {
    background-color: #222222;
    margin-top: 5rem;
    padding: 5rem 0;
    width: 100%;
}
.icons {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.resize{
    margin: 1rem 1rem;
    font-size: 30px;
}
.copyright{
    text-align: center;
    color: white;
    font-family: 'Mulish', 'sans-serif';
}


@media (max-width: 320px) {
    nav {
        padding: 25px 30px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    nav ul{
        display: none;
    }
    nav .menu {
        display: block;
        font-size: 1.5rem;
    }
    .mobile-nav-toggle-container {
        display: block;
        position: fixed;
        top: 30px;
        right: 50px; 
        z-index: 1000;
        cursor: pointer;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        height: 100vh;
        width: 100%; 
        position: fixed;
        top: 0;
        left: -100%; 
        transition: transform 0.3s ease-in-out;
        z-index: 300;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        gap: 2rem;
        list-style: none;
        width: 100%; 
        text-align: center;
    }

    .mobile-nav ul a {
        text-align: center;
        font-family: 'poppins', 'sans-serif';
        font-weight: 400;
    }
    .mobile-nav.opened-menu {
        left: 0!important;
        justify-content: center;
        transform: translateX(0);
    }
    .mobile-nav.closed-menu{
        transform: translateX(-100%);
        justify-content: center;
        left: 0%!important;
    }
    .mobile-nav span {
        cursor: pointer;
        font-size: 2rem;
        position: absolute;
        right: 28px;
        top: 1.5rem;
    }
    .circle-container{
        position: absolute;
        margin: auto 10%;
    }
    .hero{
        flex-direction: inherit;
        height: 145vh
    }
    .hero-img{
        height: 200px;
        width: 200px;
    }
    .circle{
        height: 200px;
        width: 200px;
    }
    .hero-main{
        display: block;
        margin: 0 1rem;
    }
    .hero-text{
        padding: 0 1rem;
        transform: translateY(16rem);
        text-align: center;
    }
    .hero-text h1{
        font-size: 2.5rem;
        line-height: 50px;
    }
    p{
        margin-top: 15px;
        font-size: 20px;
    }
    .container{
        margin: 0 1rem;
        padding: 0 0;
    }
    .content{
        height: 40rem;
    }
    .skills{
        display: block;
        transform: translateY(33rem);
    }
    .skills p{
        text-align: center;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
        margin-top: 2rem;
        border-right: none;
        margin-right: auto;
        padding-right: 0;
        padding-bottom: 1rem;
        /* width: fit-content; */
    }
    .skills img{
        height: 25px;
        width: 25px;
    }
    .logos{
        margin: 2rem 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logos li{
        height: 50px;
        width: 50px;
    }
    .about{
        margin-top: 25px;
        padding: 100px 0;
    }
    .about-content{
        display: block;
    }
    .image-side{
        display: flex;
        justify-content: center;
    }
    .image-side img{
        width: 250px;
        height: 250px;
    }
    .text-side{
        padding: 0 1rem;
    }
    .text-side h3{
        text-align: center;
        margin-top: 2rem;
    }
    .text-side p{
        font-size: 1rem;
        padding: 0.3rem;
    }
    .project {
        padding-top: 5rem;
    }
    .project-content h1{
        font-size: 40px;
    }
    .button-filters{
        margin-bottom: 50px;
    }
    /* .overlay{
        height: 91%;
        width: 91%;
    }
    .overlay2{
        height: 91%;
        width: 91%;
    }
    .overlay3{
        height: 91%;
        width: 91%;
    } */
    .category{
        transform: translateY(6.5rem);
        font-size: 1.2rem;
    }
    .title{
        transform: translateY(7rem);
    }
    .contact{
        padding-top: 5rem;
    }
    .contact-content{
        padding: 0 20px;
    }
    .contact-content h1{
        text-align: center;
        font-size: 40px;
    }
    .flex-box{
        gap: 0;
    }
    .right-side{
        display: none;
    }
    form input, form textarea{
        font-size: 14px;
    }
    form button{
        font-size: 0.8rem;
        align-self: center;
        width: 100%;
    }
    footer{
        padding: 3rem 0;
    }
}
@media (min-width: 321px) and (max-width: 375px){
    nav {
        padding: 25px 30px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    nav ul{
        display: none;
    }
    nav .menu {
        display: block;
        font-size: 1.5rem;
    }
    .mobile-nav-toggle-container {
        display: block;
        position: fixed;
        top: 30px;
        right: 50px; 
        z-index: 1000;
        cursor: pointer;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        height: 100vh;
        width: 100%; 
        position: fixed;
        top: 0;
        left: -100%; 
        transition: transform 0.3s ease-in-out;
        z-index: 300;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        gap: 2rem;
        list-style: none;
        width: 100%; 
        text-align: center;
    }

    .mobile-nav ul a {
        text-align: center;
        font-family: 'poppins', 'sans-serif';
        font-weight: 400;
    }
    .mobile-nav.opened-menu {
        left: 0!important;
        justify-content: center;
        transform: translateX(0);
    }
    .mobile-nav.closed-menu{
        transform: translateX(-100%);
        justify-content: center;
        left: 0%!important;
    }
    .mobile-nav span {
        cursor: pointer;
        font-size: 2rem;
        position: absolute;
        right: 28px;
        top: 1.5rem;
    }
    .circle-container{
        position: absolute;
        margin: auto 16%;
    }
    .hero{
        flex-direction: inherit;
        height: 195vh
    }
    .hero-img{
        height: 200px;
        width: 200px;
    }
    .circle{
        height: 200px;
        width: 200px;
    }
    .hero-main{
        display: block;
        margin: 0 1rem;
    }
    .hero-text{
        padding: 0 1rem;
        transform: translateY(16rem);
        text-align: center;
    }
    .hero-text h1{
        font-size: 2.5rem;
    }
    p{
        margin-top: 15px;
        font-size: 20px;
    }
    .container{
        margin: 0 1rem;
        padding: 0 0;
    }
    .content{
        height: 40rem;
    }
    .skills{
        display: block;
        transform: translateY(33rem);
    }
    .skills p{
        text-align: center;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
        margin-top: 2rem;
        border-right: none;
        margin-right: auto;
        padding-right: 0;
        padding-bottom: 1rem;
        /* width: fit-content; */
    }
    .skills img{
        height: 25px;
        width: 25px;
    }
    .logos{
        margin: 2rem 0;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 1rem;
    }
    .logos li{
        height: 50px;
        width: 50px;
    }
    .about{
        margin-top: 25px;
        padding: 100px 0;
    }
    .about-content{
        display: block;
    }
    .image-side{
        display: flex;
        justify-content: center;
    }
    .image-side img{
        width: 250px;
        height: 250px;
    }
    .text-side{
        padding: 0 1rem;
    }
    .text-side h3{
        text-align: center;
        margin-top: 2rem;
    }
    .text-side p{
        font-size: 1rem;
        padding: 0.3rem;
    }
    .project {
        padding-top: 5rem;
    }
    .project-content h1{
        font-size: 40px;
    }
    .button-filters{
        margin-bottom: 50px;
    }
    /* .overlay{
        height: 94%;
        width: 94%;
    }
    .overlay2{
        height: 94%;
        width: 94%;
    }
    .overlay3{
        height: 94%;
        width: 94%;
    } */
    .category{
        transform: translateY(7.5rem);
        font-size: 1.2rem;
    }
    .title{
        transform: translateY(8rem);
    }
    .contact{
        padding-top: 5rem;
    }
    .contact-content{
        padding: 0 20px;
    }
    .contact-content h1{
        text-align: center;
        font-size: 40px;
    }
    .flex-box{
        gap: 0;
    }
    .right-side{
        display: none;
    }
    form input, form textarea{
        font-size: 14px;
    }
    form button{
        font-size: 1rem;
        align-self: center;
        width: 100%;
    }
    footer{
        padding: 3rem 0;
    }
}
@media (min-width: 375px) and (max-width: 425px){
    nav {
        padding: 25px 30px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    nav ul{
        display: none;
    }
    nav .menu {
        display: block;
        font-size: 1.5rem;
    }
    .mobile-nav-toggle-container {
        display: block;
        position: fixed;
        top: 30px;
        right: 50px; 
        z-index: 1000;
        cursor: pointer;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        height: 100vh;
        width: 100%; 
        position: fixed;
        top: 0;
        left: -100%; 
        transition: transform 0.3s ease-in-out;
        z-index: 300;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        gap: 2rem;
        list-style: none;
        width: 100%; 
        text-align: center;
    }

    .mobile-nav ul a {
        text-align: center;
        font-family: 'poppins', 'sans-serif';
        font-weight: 400;
    }
    .mobile-nav.opened-menu {
        left: 0!important;
        justify-content: center;
        transform: translateX(0);
    }
    .mobile-nav.closed-menu{
        transform: translateX(-100%);
        justify-content: center;
        left: 0%!important;
    }
    .mobile-nav span {
        cursor: pointer;
        font-size: 2rem;
        position: absolute;
        right: 28px;
        top: 1.5rem;
    }
    .circle-container{
        position: absolute;
        margin: auto 13%;
    }
    .hero{
        flex-direction: inherit;
        height: 188vh
    }
    .hero-img{
        height: 250px;
        width: 250px;
    }
    .circle{
        height: 250px;
        width: 250px;
    }
    .hero-main{
        display: block;
        margin: 0 1rem;
    }
    .hero-text{
        padding: 0 1rem;
        transform: translateY(16rem);
        text-align: center;
    }
    .hero-text h1{
        font-size: 2.5rem;
    }
    p{
        margin-top: 15px;
        font-size: 20px;
    }
    .container{
        margin: 0 1rem;
        padding: 0 0;
    }
    .content{
        height: 40rem;
    }
    .skills{
        display: block;
        transform: translateY(31rem);
        padding: 0 2rem;
    }
    .skills p{
        text-align: center;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
        margin-top: 2rem;
        border-right: none;
        margin-right: auto;
        padding-right: 0;
        padding-bottom: 1rem;
        /* width: fit-content; */
    }
    .skills img{
        height: 25px;
        width: 25px;
    }
    .logos{
        margin: 2rem 0;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 1rem;
    }
    .logos li{
        height: 50px;
        width: 50px;
    }
    .about{
        margin-top: 25px;
        padding: 100px 0;
    }
    .about-content{
        display: block;
    }
    .image-side{
        display: flex;
        justify-content: center;
    }
    .image-side img{
        width: 250px;
        height: 250px;
    }
    .text-side{
        padding: 0 1rem;
    }
    .text-side h3{
        text-align: center;
        margin-top: 2rem;
    }
    .text-side p{
        font-size: 1rem;
        padding: 0.3rem;
    }
    .project {
        padding-top: 5rem;
    }
    .project-content h1{
        font-size: 40px;
    }
    .button-filters{
        margin-bottom: 50px;
        padding: 0 2rem;
    }
    /* .overlay{
        height: 95%;
        width: 95%;
    }
    .overlay2{
        height: 95%;
        width: 95%;
    }
    .overlay3{
        height: 95%;
        width: 95%;
    } */
    .category{
        transform: translateY(10.5rem);
    }
    .title{
        transform: translateY(11rem);
    }
    .contact{
        padding-top: 5rem;
    }
    .contact-content{
        padding: 0 20px;
    }
    .contact-content h1{
        text-align: center;
        font-size: 40px;
    }
    .flex-box{
        gap: 0;
    }
    .right-side{
        display: none;
    }
    form input, form textarea{
        font-size: 14px;
    }
    form button{
        font-size: 1rem;
        align-self: center;
        width: 100%;
    }
    footer{
        padding: 3rem 0;
    }
}
@media (min-width: 425px) and (max-width: 600px){
    nav {
        padding: 25px 30px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    nav ul{
        display: none;
    }
    nav .menu {
        display: block;
        font-size: 1.5rem;
    }
    .mobile-nav-toggle-container {
        display: block;
        position: fixed;
        top: 30px;
        right: 50px; 
        z-index: 1000;
        cursor: pointer;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        height: 100vh;
        width: 100%; 
        position: fixed;
        top: 0;
        left: -100%; 
        transition: transform 0.3s ease-in-out;
        z-index: 300;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        gap: 2rem;
        list-style: none;
        width: 100%; 
        text-align: center;
    }

    .mobile-nav ul a {
        text-align: center;
        font-family: 'poppins', 'sans-serif';
        font-weight: 400;
    }
    .mobile-nav.opened-menu {
        left: 0!important;
        justify-content: center;
        transform: translateX(0);
    }
    .mobile-nav.closed-menu{
        transform: translateX(-100%);
        justify-content: center;
        left: 0%!important;
    }
    .mobile-nav span {
        cursor: pointer;
        font-size: 2rem;
        position: absolute;
        right: 28px;
        top: 1.5rem;
    }
    .circle-container{
        position: absolute;
        margin: auto 10rem;
    }
    .hero{
        flex-direction: inherit;
        height: 195vh
    }
    .hero-img{
        height: 250px;
        width: 250px;
    }
    .circle{
        height: 250px;
        width: 250px;
    }
    .hero-main{
        display: block;
        margin: 0 1rem;
    }
    .hero-text{
        padding: 0 1rem;
        transform: translateY(18rem);
        text-align: center;
    }
    .hero-text h1{
        font-size: 2.5rem;
    }
    p{
        margin-top: 15px;
        font-size: 20px;
    }
    .container{
        margin: 0 1rem;
        padding: 0 0;
    }
    .content{
        height: 40rem;
    }
    .skills{
        display: block;
        transform: translateY(34rem);
        padding: 0 2rem;
        width: 100%;
    }
    .skills p{
        text-align: center;
        border-bottom: 2px solid black;
        padding-bottom: 2rem;
        margin-top: 2rem;
        border-right: none;
        margin-right: auto;
        padding-right: 0;
        padding-bottom: 1rem;
        /* width: fit-content; */
    }
    .skills img{
        height: 25px;
        width: 25px;
    }
    .logos{
        margin: 2rem 0;
        flex-wrap: wrap;
        /* justify-content: center; */
        padding: 0 1rem;
    }
    .logos li{
        height: 50px;
        width: 50px;
    }
    .about{
        margin-top: 25px;
        padding: 100px 0;
    }
    .about-content{
        display: block;
    }
    .image-side{
        display: flex;
        justify-content: center;
    }
    .image-side img{
        width: 250px;
        height: 250px;
    }
    .text-side{
        padding: 0 1rem;
    }
    .text-side h3{
        text-align: center;
        margin-top: 2rem;
    }
    .text-side p{
        font-size: 1rem;
        padding: 0.3rem;
    }
    .project {
        padding-top: 5rem;
    }
    .project-content h1{
        font-size: 40px;
    }
    .button-filters{
        margin-bottom: 50px;
        padding: 0 2rem;
    }
    /* .overlay{
        height: 96%;
        width: 96%;
    }
    .overlay2{
        height: 94%;
        width: 93.5%;
    }
    .overlay3{
        height: 94%;
        width: 93.5%;
    } */
    .category{
        transform: translateY(12.5rem);
    }
    .title{
        transform: translateY(13rem);
    }
    .contact{
        padding-top: 5rem;
    }
    .contact-content{
        padding: 0 20px;
    }
    .contact-content h1{
        text-align: center;
        font-size: 40px;
    }
    .flex-box{
        gap: 0rem;
    }
    .row{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .right-side{
        display: none;
    }
    form input, form textarea{
        font-size: 14px;
    }
    form button{
        font-size: 1rem;
        align-self: center;
        width: 100%;
    }
    footer{
        padding: 3rem 0;
    }
}
@media (min-width: 475px){
    .flex-box{
        gap: 1rem;
    }
}
@media (min-width: 601px) and (max-width: 768px){
    nav {
        padding: 25px 30px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    nav ul{
        display: none;
    }
    nav .menu {
        display: block;
        font-size: 1.5rem;
    }
    .mobile-nav-toggle-container {
        display: block;
        position: fixed;
        top: 30px;
        right: 50px; 
        z-index: 1000;
        cursor: pointer;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        height: 100vh;
        width: 100%; 
        position: fixed;
        top: 0;
        left: -100%; 
        transition: transform 0.3s ease-in-out;
        z-index: 300;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        gap: 2rem;
        list-style: none;
        width: 100%; 
        text-align: center;
    }

    .mobile-nav ul a {
        text-align: center;
        font-family: 'poppins', 'sans-serif';
        font-weight: 400;
    }
    .mobile-nav.opened-menu {
        left: 0!important;
        justify-content: center;
        transform: translateX(0);
    }
    .mobile-nav.closed-menu{
        transform: translateX(-100%);
        justify-content: center;
        left: 0%!important;
    }
    .mobile-nav span {
        cursor: pointer;
        font-size: 2rem;
        position: absolute;
        right: 28px;
        top: 1.5rem;
    }
    .hero{
        height: 130vh;
    }
    .hero-img{
        height: 250px;
        width: 250px;
    }
    .circle{
        height: 250px;
        width: 250px;
    }
    .skills{
        transform: translateY(6rem);
    }
    p{
        font-size: 20px;
    }
    .skills img{
        height: 25px;
        width: 25px;
    }
    .image-side img{
        width: 250px;
        height: 250px;
    }
    .logos li{
        height: 50px;
        width: 50px;
    }
    .container{
        margin: 0px 1rem;
    }
    .about-content{
        gap: 3rem;
        align-items: center;
    }
    .text-side p{
        font-size: 1rem;
    }
    .right-side{
        display: none;
    }
    /* .overlay{
        height: 92.8%;
        width: 93%;
    }
    .overlay2{
        height: 92.8%;
        width: 93%;
    }
    .overlay3{
        height: 92.8%;
        width: 93%;
    } */
    .category{
        transform: translateY(8.5rem);
    }
    .title{
        transform: translateY(9rem);
    }
}
@media(min-width: 425px) and (max-width: 550px){
    .circle-container{
        margin: auto 20%;
    }
    /* .overlay{
        height: 94.5%;
        width: 94.5%;
    }
    .overlay2{
        height: 94.5%;
        width: 94.5%;
    }
    .overlay3{
        height: 94.5%;
        width: 94.5%;
    } */
}
@media(min-width: 550px) and (max-width: 600px){
    .circle-container{
        margin: auto 26%;
    }
}
@media (min-width: 769px) and (max-width: 950px){
    .container{
        margin: 0 0;
    }
    .hero{
        height: 135vh;
    }
    .skills{
        transform: translateY(5rem);
    }
    .skills img{
        height: 25px;
        width: 25px;
    }
    .image-side img{
        width: 250px;
        height: 250px;
    }
    .logos li{
        height: 50px;
        width: 50px;
    }
    .about-content{
        gap: 4rem;
        align-items: center;
    }
    /* .overlay{
        height: 94.5%;
        width: 94.5%;    
    }
    .overlay2{
        height: 94.5%;
        width: 94.5%;    
    }
    .overlay3{
        height: 94.5%;
        width: 94.5%;    
    } */
}
@media(min-width: 950px) and (max-width: 1150px){
    .about-content{
        gap: 4rem;
        align-items: center;
    }
    .text-side p{
        font-size: 18px;
    }
    .image-side img{
        width: 250px;
        height: 250px;
    }
}

@media(min-width: 1000px) and (max-width: 1100px){
    /* .overlay{
        height: 92.5%;
        width: 92.5%;
    }
    .overlay2{
        height: 92.5%;
        width: 92.5%;
    }
    .overlay3{
        height: 92.5%;
        width: 92.5%;
    } */
    .category{
        transform: translateY(8rem);
    }
    .title{
        transform: translateY(8.5rem);
    }
}